<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body onload="Get_All_Student_Data()">
    <!-- Start Navbar !-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="test.html">WebSite Admin</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="menu.html">Menu</a></li>
            <li class="active"><a href="login.html">Login</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Method <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="Update.html">Update</a></li>
                <li><a href="insert.html">Insert</a></li>
                <li><a href="Delete.html">Delete</a></li>
              </ul>
            </li>
  

            <!--<li><a href="#">Page 2</a></li> !-->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="menu.html"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
          </ul>
        </div>
      </nav>
      <!-- Close Navbar !-->
    <div class="container-fluid p-5 bg-primary text-white text-center">
      <h1>UI Delete data into MongoDB</h1>
      <p>สามารถทำการเลือกเเละปรับข้อมูล</p>
    </div>

    <div class="container mt-5">
      <div>
        <h3 class="text-center mb-3">Delete Menu information</h3>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <select class="form-select" id="Select_student">
              <option selected>Select Menu</option>
            </select>
          </div>
        </div>

        <button onclick="Delete_Student_Data()" class="btn btn-primary">
          Delete
        </button>
      </div>
    </div>
  </body>

  <script>
    var all_data_students;

    function Get_All_Student_Data() {
      const api = "http://localhost:9000/students/";
      console.log(["Api", api]);
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          // Typical action to be performed when the document is ready:
          all_data_students = JSON.parse(xhttp.responseText);
          console.log(all_data_students);
          0;
          for (let i = 0; i < all_data_students.length; i++) {
            let selectBox = document.getElementById("Select_student");
            let newOption = document.createElement("option");
            newOption.value = all_data_students[i].name;
            newOption.text = all_data_students[i].name;
            selectBox.appendChild(newOption);
          }
        } else if (this.status == 404) {
          console.log("ERROR");
        }
      };
      xhttp.open("GET", api, true);
      xhttp.send();
    }

    function Delete_Student_Data() {

      let _input_name = document.getElementById("Select_student").value;
      
      const api = "http://localhost:9000/student/" + _input_name;

      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          // Typical action to be performed when the document is ready:
          let _res_data = xhttp.responseText;
          console.log(_res_data);
          if (_res_data == "OK") {
              location.reload();
              alert(_res_data);
          } else {
            alert(_res_data);
          }
        } else if (this.status == 404) {
          alert(_res_data);
        }
      };
      xhttp.open("DELETE", api, true);
      xhttp.send();
    }
    function logout() {
              window.location.href = 'login.html'
          }

  </script>
</html>